{
	"tabWidth": 2,
	"useTabs": true,
	"singleQuote": false,
	"printWidth": 110,
	"bracketSameLine": true,
	"proseWrap": "preserve",
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
